<mat-toolbar class="toolbar">
  <div class="photo">

  </div>
  <div class="name"><p>Juanma Perez</p></div>
  <div class="btn-toolbar">
    <mat-icon>home</mat-icon>
    <p>Home</p>
  </div>
  <div class="btn-toolbar">
    <mat-icon>home</mat-icon>
    <p>About me</p>
  </div>
  <div class="btn-toolbar">
    <mat-icon>home</mat-icon>
    <p>Resume</p>
  </div>
  <div class="btn-toolbar">
    <mat-icon>home</mat-icon>
    <p>Services</p>
  </div>
  <div class="btn-toolbar">
    <mat-icon>home</mat-icon>
    <p>Portfolio</p>
  </div>
  <div class="btn-toolbar">
    <mat-icon>home</mat-icon>
    <p>Blog</p>
  </div>
  <div class="btn-toolbar">
    <mat-icon>home</mat-icon>
    <p>Contact</p>
  </div>
</mat-toolbar>
